* {
  background-color: rgb(179, 229, 237);
  color: rgb(174, 41, 0);
  font-weight: bold;
  font-family: 'Arial', 'sans-serif';
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.5em;
  font-style: italic;
  font-family: Apple Chancery, cursive;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  /* display: flex; */
  
}

nav {
  font-size: 1.2em;
}

nav, br {
  line-height: 2em;
}

ul {
  list-style-type: none;
}

.active {
  background-color: black;
  color: white;
}
