* {
  background-color: rgb(179, 229, 237);
  color: rgb(174, 41, 0);
  font-family: 'Arial', 'sans-serif';
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.5em;
  font-style: italic;
  font-family: Apple Chancery, cursive;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none; 
}

nav {
  font-size: 21px;
  margin-left: 3%;
  width: 10%;
  margin-top: 5px;
  background-color: black;
}

nav, br {
  line-height: 2.2em;
}

ul {
  list-style-type: none;
}

#navbar-logo {
  text-align: right;
  margin-right: 3%;
  margin-top: -13%;
}

.active {
  /* background-color: rgb(250, 196, 19, 0.8); */
  font-weight: bolder;
  font-size: 25px;
}

#about {
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 45px;;
  text-align: center;
  font-weight: 500;
}

#slogan {
  font-style: italic;
  font-weight: 600;
}